body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
}

h1 {
	color: #333;
	text-align: center;
}

.data{
	font-size: 50px;
	margin-top: 18px;
}

.container{
	border-radius: 12px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
	padding: 17px;
	margin: 20px;
	text-align: center;
	font-size: 36px;
	color: #333;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#temperature {
	background-color: #ff8c8c;
}

#humidity {
	background-color: #b3ff80;
}

#light {
	background-color: #ffff80;
}

#actions {
	color: #fff;
	background-color: #000;
}