body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
}

h1 {
	color: #333;
	text-align: center;
}

.data{
	font-size: 50px;
	margin-top: 18px;
}

.container{
	border-radius: 12px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
	padding: 17px;
	margin: 20px;
	text-align: center;
	font-size: 36px;
	color: #333;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#temperature {
	background-color: #ff8c8c;
}

#humidity {
	background-color: #b3ff80;
}

#light {
	background-color: #ffff80;
}

#actions {
	color: #fff;
	background-color: #000;
}

#toggleBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
	margin-right: 30px;
	height: 3em;
	width: 6em;
	border: none;
	border-radius: 5px;
	background-color: #0bb4ec;
	color: white;;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#toggleBtn:hover {
	background-color: #005f70;
  }

#graphContainer {
	background-color: #f7f7f7;
	margin: 20px;
}